examples/2 - Read Device - MQTT.json
[
    {
        "id": "1bc58b128cd3bd8c",
        "type": "tab",
        "label": "2 - Read Device - MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f3394fb6d7bef261",
        "type": "inject",
        "z": "1bc58b128cd3bd8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "2ebdac5c82407164"
            ]
        ]
    },
    {
        "id": "3cadcbc0c505115e",
        "type": "debug",
        "z": "1bc58b128cd3bd8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "cc1631eaf7d2d651",
        "type": "aedes broker",
        "z": "1bc58b128cd3bd8c",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8e6d661b6dd0fd70",
        "type": "mqtt out",
        "z": "1bc58b128cd3bd8c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce7140f5.3ad78",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ebdac5c82407164",
        "type": "bp-Awair",
        "z": "1bc58b128cd3bd8c",
        "bpAwairDisplayName": "",
        "bpAwairShowNodeStatus": true,
        "bpAwairShowDebugWarnings": true,
        "bpAwairJSONOutput": false,
        "bpAwairIndividualOutput": true,
        "bpAwairRoundingEnabled": true,
        "bpAwairToken": "",
        "bpAwairCurrentDevice": "Meld HQ - 1989 - awair-omni",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "3cadcbc0c505115e",
                "8e6d661b6dd0fd70"
            ]
        ]
    },
    {
        "id": "ce7140f5.3ad78",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]